:root {
	--shadow: rgba(53, 31, 93, 0.6);
	--animation-curve: cubic-bezier(0.1, 0, 0, 1);
	--in-out-animation-curve: cubic-bezier(1, 0, 0.0, 1);
}

html,
body {
	font-family: "Comfortaa", sans-serif;
	margin: 0;
	padding: 0;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

body::-webkit-scrollbar {
	display: none;
}