.container {
	position: relative;
	width: 100%;
	min-height: 100dvh;
	height: 100dvh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	scroll-snap-align: start;

	@media (max-width: 825px) {
		min-height: min-content;
		height: min-content;
	}
}

.minorProjects {
	min-height: 100dvh;
	height: min-content;
}