.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	font-size: min(14px, calc(0.8vw + 1vh));
}

.infoIcon {
	width: 25%;
	max-width: 128px;
	margin-bottom: 2vh;
}

.clickable {
	cursor: pointer;
	color: #7a3433;
	text-decoration: underline;
	text-underline-offset: 0.3em;
	text-decoration-thickness: 0.1em;
	transition: all 0.3s var(--animation-curve);
}

.clickable:hover {
	text-underline-offset: 0.5em;
	text-decoration-style: double;
	scale: 1.25;
	font-weight: bold;
}