.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	padding-left: 5rem;
}

.indexText {
	width: 12rem;
	margin-bottom: 2rem;
}

.clickable {
	cursor: pointer;
	color: #7a3433;
	text-decoration: underline;
	text-underline-offset: 0.3em;
	text-decoration-thickness: 0.1em;
	transform-origin: left center;
	transition: all 0.3s var(--animation-curve);
}

.clickable:hover {
	text-underline-offset: 0.5em;
	text-decoration-style: double;
	font-weight: bold;
	transform: scale(1.2);
}