.container {
	display: grid;
	/* TODO: Gotta fix this formatting to be more adaptable - auto rows and colums? */
	grid-template-columns: repeat(3, calc(90% / 3));
	grid-template-rows: repeat(3, calc(90% / 3));
	padding: 25px 25px;
	gap: 25px;
	width: 100%;
	/* Accomodating for polaroid header thing */
	height: calc(100% - 150px);
}

.description {
	background-image: url('@/assets/polaroid.png');
	margin: 25px;
	padding: 25px;
	grid-row: 1;
	grid-column: 1 / 3;
	color: black;
	/* TODO: gotta fix this */
	font-size: 1vw;
}