.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, calc(90% / 3));
	padding: 25px;
	gap: 25px;
	/* Accomodating for polaroid header thing */
	height: calc(100% - 150px);
}

.infoContainer {
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 25px;
	mix-blend-mode: multiply;
}

.year {
	font-family: 'Caveat', cursive;
	font-size: 48px;
	font-weight: bold;
	color: #b81747;
	margin: 0;
	padding: 0;
}

@media (max-width: 825px) {
	.container {
		padding: 25px 10vw 100px 10vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		background: linear-gradient(0deg, var(--shadow) 0%, transparent 15%);
	}

	.infoContainer {
		display: none;
	}
}