.Snippet {
	position: relative;
	display: grid;
	grid-template-rows: auto 100px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
	margin: 2rem;
	box-sizing: border-box;
	width: 200px;
	height: 300px;
	text-align: center;
	background-image: url('@/assets/polaroid.webp');
	background-size: 100% 100%;
	filter: drop-shadow(2px 2px 2px var(--shadow));
	transition: all 1s var(--animation-curve);

	&:hover {
		filter: drop-shadow(8px 8px 8px var(--shadow));
	}
}

.cover {
	overflow: hidden;
	transition: translate 0.5s;
	height: 150px;
	width: 100%;
	position: relative;

	>img,
	>video {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		box-shadow: inset 1px 1px 1px 1px var(--shadow);
	}
}

.info {
	position: relative;
}

.title {
	font-family: 'Caveat', cursive;
	font-size: 2rem;
	font-weight: bold;
	color: #331f2a;
	margin: 0;
	padding: 0;
	scale: 1.2 0.8;
}

.year {
	font-family: 'Caveat', cursive;
	color: #753d4d;
	position: absolute;
	right: .5rem;
	bottom: .5rem;
	font-size: 1.5rem;
}