.container {
	width: 100%;
	z-index: 2;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.5);
	color: black;
	/* Maybe add some rotation? rotate: 0deg; */
}

.content {
	font-family: 'Knewave', cursive;
	font-size: 50px;
	font-weight: 700;
	letter-spacing: 2px;
}