.container {
	width: 100%;
	z-index: 2;
	box-shadow: 0 5px 15px 5px rgba(0, 0, 0, 0.5);
	color: black;
	overflow: hidden;
	background-image: url('@/assets/polaroid.jpg');
	padding: 75px;
	padding-bottom: 25px;
	/* Maybe add some rotation? rotate: 0deg; */
}