.container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	background-color: var(--shadow);
	transition: background-color 0.5s var(--animation-curve);
	user-select: none;
}

.content {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, calc(33.33% - 2rem / 3));
	grid-template-rows: repeat(3, calc(33.33% - 2rem / 3));
	gap: 1rem;
	padding: 4rem 2rem;
	height: 90dvh;
	width: min(60dvh, 90dvw);
	box-sizing: border-box;
	transition: translate .89s cubic-bezier(0.68, -0.55, 0.265, 1.55),
		rotate .95s cubic-bezier(0.68, -0.55, 0.265, 1.55),
		filter 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-image: url('@/assets/polaroid.webp');
	background-size: 100% 100%;
	filter: drop-shadow(6px 6px 1px var(--shadow));
}

.description {
	grid-column: span 3;

	p {
		margin: 0.5rem unset;
		font-size: min(1rem, 3.5vmin);
	}

	h2 {
		font-family: 'Caveat', cursive;
		font-size: min(3rem, 9vw);
		font-weight: bold;
		color: #331f2a;
		margin: 0;
	}
}


.bottomBarContainer {
	position: absolute;
	bottom: 1rem;
	width: 100%;
	display: flex;
	justify-content: center;
}

.bottomBar {
	width: calc(100% - 2rem);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.year {
	font-family: 'Caveat', cursive;
	color: #a3425e;
	font-size: 1.5rem;
	translate: 0 -.2rem;
}

.linksAndYear {
	display: flex;
	gap: 0.5rem;

	img {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.backButton {
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	background-image: url('@/assets/back-arrow.png');
	background-size: 100% 100%;
}