.App {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.polaroid-header {
	width: 50%;
	max-width: 150px;
	z-index: 2;
}

.description {
	background-image: url('@/assets/polaroid.png');
	margin: 25px;
	padding: 25px;
	color: black;
	/* TODO: gotta fix this */
	font-size: 1vw;
}