.App {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.minorProjectsAndContact {
	background: linear-gradient(#4E95DD, #D4E3FE);
}

.polaroid-header {
	max-height: 64px;
	max-width: 100%;
	z-index: 2;
}

.description {
	background-image: url('@/assets/polaroid.webp');
	background-size: 100% 100%;
	padding: 25px;
	color: black;
	font-size: max(1vw, 2vh);
	grid-column: span 2;
	grid-row: span 1;
}

a {
	font-weight: bold;
	text-decoration: none;
}